*{
  text-decoration: none;
}

main{
  min-height: 80vh;
}

.show{
    
    position: relative;
}

.show img{
    width: 100%;
}

.show .text{
    position: absolute;
    color: white;
    top: 5%;
    left: 50px;
    width: 50%;
    
}

.show h1{
    font-size: 3.3em;
    
}

.show p{
    font-size: larger;
}

.show a{
    display: inline-block;
    text-decoration: none;
    background-color: #CC9900;
    padding: 10px 30px;
    margin-top: 10px;
    color: white;
    border-radius: 30px;
    letter-spacing: 1px;

}

.show a:hover{
    /* transform: scale(1) translateX(15px); */
    letter-spacing: 3px;
    background-color: #cc990091;
    color: #000000;
}

.show span h1{
    color: #cc9900;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .show{
        align-items: center;
        text-align: center;
    }

    .show .text{
        width: 100%;
        left: 0;
        padding: 10px;
       
    }
    .show h1{
        font-size: x-large;
        line-height: 23px;
    }
    .show span h1{
        line-height: 17px;
    }
    .show p {
        font-size: small;
    }

    .show a{
        font-size: small;
        margin-top: 1px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */